.wrapper {
  gap: 30px;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  width: 50%;
}

.audioWrapper {
  display: flex;
  gap: 5%;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  border: none;
    padding: 0;
    background: transparent;
    display: inline-block;
    width: auto;
    min-width: 64px;
    max-width: 100%;
    transition: color,border,background-color 0.3s;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.54em;
    min-height: 32px;
    padding: 4px 12px;
    height: 32px;
    background: #0679BA;
    color: #ffffff;
    border-radius: 3px;
}

.button:disabled {
  background: #C7C7C7;
}

.danger {background-color: #e61e1e;}


.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}